body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: grey;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 0;
    text-align: center;
    color: black;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #5138ab;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #220cb0;
}
.error {
    color: red;
}
.error-border {
    border-color: red;
}
input.error-border {
    border-color: red;
}